.page-loader {
  position: absolute;
  top: 50%;
  margin-top: -200px;
  left: 0;
  width: 100%;

  .loader {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    border-radius: 0;
    line-height: 200px;
    text-align: center;

    span {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
    }
  }
}
