@mixin embed-font($filename,
$Path: "../fonts/"+$filename,
$font-name : $filename,
$font-weight : false,
$font-style: false){
  @font-face {
    font-family: #{$font-name};
    src: url('#{$Path}/#{$filename}.eot');
    src: url('#{$Path}/#{$filename}.eot?#iefix') format('embedded-opentype'),
    url('#{$Path}/#{$filename}.woff') format('woff'),
    url('#{$Path}/#{$filename}.ttf') format('truetype'),
    url('#{$Path}/#{$filename}.svg##{$font-name}') format('svg');
    @if $font-weight {
      font-weight: #{$font-weight};
    }
    @if $font-style {
      font-style: #{$font-style};
    }
  }
}

@include embed-font("Roboto-Bold-webfont","../fonts/roboto","roboto-bold", normal, normal);
@include embed-font("Roboto-Condensed-Light","../fonts/roboto","roboto-condensed-light", normal, normal);
@include embed-font("Roboto-Light-webfont","../fonts/roboto","roboto-light", normal, normal);
@include embed-font("Roboto-Medium-webfont","../fonts/roboto","roboto-medium", normal, normal);
@include embed-font("Roboto-Regular-webfont","../fonts/roboto","roboto-regular", normal, normal);
@include embed-font("RobotoCondensed-Regular-webfont","../fonts/roboto","roboto-condensed", normal, normal);
@include embed-font("RobotoCondensed-Bold-webfont","../fonts/roboto","roboto-bold-condensed", normal, normal);
@include embed-font("RobotoCondensed-Light-webfont","../fonts/roboto","roboto-light-condensed", normal, normal);

$georgia: Georgia, Times, 'Times New Roman', serif;
$helvetica: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$roboto-bold: "roboto-bold", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$roboto-light: "roboto-light", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$roboto-medium: "roboto-medium", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$roboto-regular: "roboto-regular", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$roboto-condensed: "roboto-condensed", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$roboto-light-condensed: "roboto-light-condensed", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$roboto-bold-condensed: "roboto-bold-condensed", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$ui-element-font: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

@mixin font-set-roboto-condensed($font-size: ""){
  font-family: $roboto-condensed;
  letter-spacing: 1px;
  font-style: normal;
  @if $font-size != "" {
    font-size: $font-size;
  }
}

@mixin font-set-roboto-bold-condensed($font-size: ""){
  font-family: $roboto-bold-condensed;
  letter-spacing: 1px;
  font-style: normal;
  @if $font-size != "" {
    font-size: $font-size;
  }
}

@mixin font-set-roboto-light-condensed($font-size: ""){
  font-family: $roboto-light-condensed;
  letter-spacing: 1px;
  font-style: normal;
  @if $font-size != "" {
    font-size: $font-size;
  }
}

@mixin font-set-roboto-regular($font-size: ""){
  font-family: $roboto-regular;
  letter-spacing: 0px;
  @if $font-size != "" {
    font-size: $font-size;
  }
}

@mixin font-set-roboto-light($font-size: ""){
  font-family: $roboto-light;
  letter-spacing: 0px;
  @if $font-size != "" {
    font-size: $font-size;
  }
}
