.navbar {
  background-color: #313131;
  color: #BEBCBC;
  border: 0;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      float: left;
      a, a:link {
        color: #BEBCBC;
        padding: 1em 1.5em;
        display: block;
        text-decoration: none;

        &:hover {
          color: white;
          text-decoration: none;
        }
      }
    }
  }

  .main-ui-link {
  }

  .form-control {
    border: 0;
    border-radius: 0;
    background-color: #676767;
    color: #b0b0b0;
    transition: all 0.25s;

    &:focus {
      background-color: #fff;
      color: rgb(85, 85, 85);
    }
  }

  button {
    border-radius: 0;
    border: 0;
    background-color: #676767;
    color: #b0b0b0;
    transition: all 0.25s;
    padding: 7px 14px;

    &:focus {
      background-color: #fff;
      color: rgb(85, 85, 85);
    }
  }
}

.navbar-text {
  margin-top: 14px;
  margin-bottom: 14px;
}
