// Bootstrap customization
$icon-font-path: "../fonts/vendor/bootstrap/";

// Font-awesome customization
$fa-font-path: "../fonts/vendor/fontawesome";

/**
 * Base for everything
 */
@import "bootstrap-compass";
// So far the compass asset helper does not helping us so much (relative asset = true in config.rb make sass compilation failing),
// so we disable it and set $icon-font-path directly
$bootstrap-sass-asset-helper:false;

@import 'bootstrap';
@import 'font-awesome';
@import './fonts';

$navbarHeight: 48px;

/**
 * Main styles
 */
html {
    height: 100%;
}

body {
    height: 100%;
    position: relative;
    min-width:1024px;

    ::-webkit-input-placeholder { color:darkgrey !important; }
    ::-moz-placeholder { color:darkgrey !important; }
    :-moz-placeholder { color:darkgrey !important; }
    :-ms-input-placeholder { color:darkgrey !important; }
    input:-moz-placeholder { color:darkgrey !important; }

}

h1 {
  font-family: $roboto-bold;
  font-size: 2.5em;
}

h2 {
  font-family: $roboto-bold;
  font-size: 2em;
}

h6 {
  font-size: 1.2em;
  font-family: $helvetica;
}

.on-ready-enter {
  opacity: 0;
  transition: opacity .2s ease-in;

  &.on-ready-enter-active {
    opacity: 1;
  }
}

.on-ready-leave {
  opacity: 1;
  transition: opacity .2s ease-in;

  &.on-ready-leave-active {
    opacity: 0;
  }
}

#loading-home {
  position: absolute;
  top: 50%;
  margin-top: -200px;
  left: 0;
  width: 100%;

  #loader {
    width: 680px;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    border-radius: 0;
    line-height: 250px;
    text-align: center;

    span {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
    }
  }
}

#wrapper {

  #nav {
    padding-left: 0;
    padding-right: 15px;
    min-width:1024px !important;
    min-height: 40px;

    .nav-search {
      width:250px !important;
      margin: 7px 0;
    }

    .toggle-workbook {
      margin-right: 2em;

      &.active {
        background-color: #505050;
        color: white;
      }
    }
  }

  #side, #content {
    @include transition( 'all 0.25s ease-out' );
  }

  #side {
    position: absolute;
    top: 0;
    left: 0px;
    bottom: 0;
    padding: $navbarHeight 0 0px 0;
    overflow: auto;
    border-right: 2px inset #313131;
    background-color: #505050;
  }

  #content {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: $navbarHeight 0 0 0;
    overflow: auto;
    background-color: white;
  }

  @media (max-width: 1280px) {
    #side {
      width: 23%;
    }

    #content {
      left: 23%;
      width: 77%;
    }
  }

  @media (min-width: 1281px) {
    #side {
      width: 19%;
    }

    #content {
      left: 19%;
      width: 81%;
    }
  }

  :-webkit-full-screen & {
    #side, #content {
      padding-top: 5px;
    }

    #nav {
      overflow: hidden;
      min-height: 0;
      height: 5px;
      border-bottom: 8px solid #FB8C00;

      &:hover {
        height: $navbarHeight + 5px;
      }
    }

    &.sidebar-collapsed {
      #side {
        margin-left: -22%;
        z-index: 999;

        &:hover {
          margin-left: 0;
        }
      }

      #content {
        width: 100%;
        left: 1%;
      }
    }
  }

}

button + button {
  margin-left: 5px;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Bootstrap Modal margin override
.modal-dialog {
  margin: 10px auto !important;
}

@import "./navbar";
@import "./pages/pages";
@import "./pages/quote";
@import "./pages/contact-form";
