// Bootstrap customization
$icon-font-path: "../fonts/vendor/bootstrap/";

// Font-awesome customization
$fa-font-path: "../fonts/vendor/fontawesome";

/**
 * Base for everything
 */
@import "bootstrap-compass";
// So far the compass asset helper does not helping us so much (relative asset = true in config.rb make sass compilation failing),
// so we disable it and set $icon-font-path directly
$bootstrap-sass-asset-helper:false;

@import 'bootstrap';
@import 'font-awesome';

$navbarHeight: 48px;

/**
 * Main styles
 */
html {
    height: 100%;
}

body {
    height: 100%;
    position: relative;
    min-width:1024px;

    ::-webkit-input-placeholder { color:darkgrey !important; }
    ::-moz-placeholder { color:darkgrey !important; }
    :-moz-placeholder { color:darkgrey !important; }
    :-ms-input-placeholder { color:darkgrey !important; }
    input:-moz-placeholder { color:darkgrey !important; }

}

#wrapper {


}

.modal {
    display: block;
}

.modal-dialog {
    margin: 10px auto !important;
}

.modal {
    display: block;
}
